

.cs-range-slider-ui .noUi-handle {
    top: 50% !important;
    width: .875rem !important;
    height: .875rem !important;
    margin-top: -.4375rem !important;
    border: 2px solid #fff !important;
    border-radius: 50% !important;
    box-shadow: none !important;
    background-color: #17696a !important;
}
.cs-range-slider-ui {
    height: .125rem !important;
    margin: 3rem 0 !important;
    border: 0 !important;
    background-color: #dadbdd !important;
    box-shadow: none !important;
}